@model IEnumerable<GoBrandingSEO.Models.MenuBar>

@{
    ViewBag.Title = "Menu";
    Layout = null;
}

@foreach (var item in Model)
{
    <li>
    
        @Html.ActionLink(item.NameMenu, item.Link, "Home")
    
    </li>
}
