input[type=navsearch] {
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #222;
    border-radius: 4px;
    font-size: 16px;
    background-color: #222;
    background-image: url('/images/Untitled-1.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 30px;
    margin-top: auto;
    margin-right: auto;
    display: block;
    background-position-y:center;
}

    input[type=navsearch]:focus {
        width: 100%;
        border: 2px solid #fff;
        background-color: #2b2b2b;
        color: white;
        border-radius: 30px;
        outline:none;
    }
