@{
    ViewBag.Title = "Meo Shoes";
}
<link href="~/Content/farm.css" rel="stylesheet" />
<div class="col-md-12" style="background:#151515;margin-top:-20px;">
    <div id="menudf">
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90%;po">
        <ul>
            <li><a href="#meo_shoes">Meo Shoes </a></li>
            <li><a href="#new_shoes">New Shoes </a></li>
            <li><a href="#nam_sales">Nam Sales </a></li>
            <li><a href="#nu_sales">Nữ Sales </a></li>
        </ul>
    </div>
    
    <div id="chu" style="position:absolute;">
        <h1>Meo Shoes</h1>
        <br />
        <h2> Cửa hàng chuyên về Giày</h2>
        <br />
        <p>
            Trẻ Trung, Năng Động, Sáng Tạo.
        </p>
        <br />

        @Html.ActionLink("Shop Now >", "Product")
    </div>
    <div  id="meo_shoes">
        <img src="~/images/default.PNG" style="width:95%;height:0%;float:right;" />
    </div>
    <div>

    </div>
</div>
