
@{
    ViewBag.Title = "LienHe";
}
<link href="~/Content/Contact.css" rel="stylesheet" />
<div class="col-md-12" style="background:#151515;margin-top:-15px;">
    <div class="bg_contact">
       <div class="child_contact">
           <div class="content">
               <span style="font-size:40px">Liên hệ với Meo Shoes</span><br />
               <span style="font-size:25px">Địa chỉ</span><br /><span style="font-size:5px;"></span><br />
               <span class="glyphicon glyphicon-map-marker"></span><span style="font-size:20px;">   08/99 tổ 6, Phú Hoà, Thủ Dầu Một, Bình Dương, Việt Nam</span><br /><br />
               <span class="glyphicon glyphicon-phone-alt"></span><span style="font-size:20px;"> 08 7754 8669</span><br /><br />
               <span class="glyphicon glyphicon-earphone"></span><span style="font-size:20px;"> 0123 456 789 & 9876 543 210</span><br /><br />
               <span class="glyphicon glyphicon-envelope"></span><span style="font-size:20px;"> meoshoes@gmail.com</span><br /><br />
           </div>
           <div class="maps" style="width:80%;height:400px">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d799.9586995847583!2d106.67685882628331!3d10.980793685453332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34cf4594e6548612!2sMeo%20Shoes!5e0!3m2!1svi!2s!4v1572032924797!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
           </div>                
       </div>
    </div>
</div>

